<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/control.css">
    <link rel="stylesheet" href="../static/css/tempelate.css">
    <link rel="stylesheet" href="../static/css/searchbar.css">
    <link rel="stylesheet" href="../static/css/editinput.css">
    <title>AdminTodayOrder</title>
</head>
<body>
    <div class="header">
        <div class="logo"><a href="/home"><img src="../static/icon/logo.png" alt=""></a></div>
        <div class="navbar">
            <nav>
      
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="fackhead"></div>
        <div class="innercontainer">
            <div class="title">
                <p>SYSTEM BACKSTAGE</p>
                <h1>管理後台</h1>
            </div>
            <div class="control">
                <nav>
                    <ul>
                        <li >
                            <a id="target" myaction="todayorder" >今日訂單</a>
                        </li>
                        <li>
                            <a myaction="ordersearch">訂單查詢</a>
                        </li>
                        <li>
                            <a myaction="membersearch">會員查詢</a>
                        </li>
                        <li>
                            <a myaction="productedit">商品管理</a>
                        </li>
                        <li>
                            <a myaction="othersetting">網站設定</a>
                        </li>
                        <li>
                            <a myaction="manageredit">管理者編輯</a>
                        </li>
                        <li>
                            <a href="/logout">登出</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main">
 
        
            </div>
          
            
        </div>
        <div class="fackfooter"></div>
    </div>
    <div class="footer">

    </div>
    <script type="module" src="../static/js/ManagerCenterPage.js"></script>
</body>
</html>